<form class="registration-form"
    name="registerForm">
    <!-- <div>
      <h2>Register with:</h2>
      <button>Twitter</button>
      <button>Facebook</button>
    </div> -->
    <div ng-show="error" class="message warning">
      <small>{{ error.reason }}</small>
    </div>

    <input type="email"
      ng-model="credentials.email"
      placeholder="email"
      aria-label="email"
      required/>
    <input type="password"
      ng-model="credentials.password"
      placeholder="password"
      aria-label="password"
      required/>
    <button ng-disabled="!registerForm.$valid"
      ng-click="register()">Register</button>
  </form>
  <div ng-show="success" class="message success">
    <small>Great, check your email for a verification e-mail!</small>
  </div>
  <div class="mr-auth-extras">
    <div><a href="/auth/reset-password">Forgot your password?</a></div>
    <div><a href="/auth/login">Log in.</a></div>
  </div>
