<form name="resetPasswordEmailForm" ng-show="!token">
  <div ng-show="error" class="md-warn">
    <small>{{ error.reason }}</small>
  </div>
  <label for="email">Email:</label>
  <input type="email"
    ng-model="credentials.email"
    placeholder="email"
    aria-label="email"
    id="email"
    required/>
  <button ng-disabled="!resetPasswordEmailForm.$valid"
    ng-click="reset()">Submit</button>
</form>
<form class="accounts-form reset-password-form" name="resetPasswordForm" ng-show="token">
  <div ng-show="error" class="md-warn">
    <small>{{ error.reason }}</small>
  </div>
  <label for="new_password">New Password:</label>
  <input type="password"
    ng-model="newPassword"
    placeholder="password"
    aria-label="password"
    id="new_password"
    required/>
  <button ng-disabled="!resetPasswordForm.$valid"
    ng-click="setNewPassword()">Set New Password</button>
</form>
